.fertilizers-add-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.fertilizers-index {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}


.fertilizers-index__title {
    color: rgba(26, 33, 43, 1);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 16px 16px;
    border-bottom: 1px solid rgba(154, 168, 188, 0.2);
    box-sizing: border-box;
}

.fertilizers-index__button-add {
    font-size: 12px;
    background-color: rgba(92, 23, 229, 1);
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
}

.fertilizers-index__button-add:hover {
    background-color: rgba(54, 0, 144, 1);
}


.fertilizers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid rgba(154, 168, 188, 0.2);
    box-sizing: border-box;
}

.fertilizers__item:last-child {
    border-bottom: none;
}

.fertilizers__name {
    font-size: 14px;
    margin: 0px;
}

.fertilizers-source__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.fertilizers-source__tabs {
    display: flex;
    background-color: rgba(245, 247, 250, 1);
    padding: 4px;
    gap: 4px;
    border-radius: 6px;
}

.fertilizers-source__tab {
    border: none;
    margin: 0px;
    padding: 4px 12px;
    background-color: transparent;
    color: rgba(153, 160, 174, 1);
    transition: .1s;
    cursor: pointer;
}

.fertilizers-source__tab:hover {
    color: rgba(82, 88, 102, 1);
}

.fertilizers-source__tab_active {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(14, 18, 27, 0.03), 0px 6px 10px 0px rgba(14, 18, 27, 0.06);
    cursor: pointer;
    color: rgba(14, 18, 27, 1);
}
 
.fertilizers-label__units {
    margin-bottom: 12px;
}

.fertilizers-label__group {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 12px;
}

.fertilizers-label__group:last-child {
    margin-bottom: 0px;
}

.fertilizers-label__text {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 4px;
}

.fertilizers-label__units-controls {
    display: flex;
    gap: 12px;
}

.fertilizers-label__unit {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 2px;
}

.fertilizers-formula {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
}

.fertilizers-formula__input {
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border: 1px solid rgba(225, 228, 234, 1);
    border-radius: 6px;
    padding: 4px;
    box-sizing: border-box;
}

.fertilizer-editor {
    max-width: 660px;
    width: 100%;
}

.fertilizer-editor__details {
    display: flex;
    gap: 12px;
}

.fertilizer-editor__controls {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.fertilizer-listing {
    max-width: 660px;
    width: 100%;
}

.fertilizer-listing__name {
    margin: 0px 0px 4px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(14, 18, 27, 1);
    font-weight: 500;
}

.fertilizer-listing__vendor {
    margin: 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(82, 88, 102, 1);
}

.fertilizer-listing__nutrients {
    display: flex;
    font-size: 8px;
    gap: 5px;
    overflow-x: scroll;
}

.fertilizer-listing__nutrient {
    padding: 2px 4px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 14px;
    background-color: rgba(92, 23, 229, 1);
    border-radius: 4px;
    color: #ffffff;
}
