.fertilizers-listing-table {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: calc(calc(38px * 10) - 2px);
}

.fertilizers-listing-item {
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background: var(--bg-weak-50, rgba(245, 247, 250, 1));
    border-radius: 8px;
}
