@import "./src/ui/styles/fonts.css";
@import "./src/ui/styles/calculation.css";
@import "./src/ui/styles/fertilizers.css";
@import "./src/ui/styles/profiles.css";
@import "./src/ui/styles/solutions.css";
@import "./src/ui/styles/utils.css";
@import "./src/ui/styles/layout.css";


body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Rubik;
    background-color: rgba(246, 248, 251, 1);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    /* padding: 20px; */
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 12px;
}

.navigation__link {
    position: relative;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(26, 33, 43, 1);
    border-radius: 16px;
    transition: .2s;
}

.navigation__link:hover {
    background-color: rgba(179, 190, 255, 0.4);
}

.navigation__link_active::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 4px;
    background-color: rgba(92, 23, 229, 1);
    border-radius: 2px;
    bottom: 4px;
    left: calc(50% - 8px);
}

.content {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    box-shadow: 0px 30px 32px rgba(255,255,255,0.16);
    box-sizing: border-box;
    padding: 0px 12px 12px 12px;
    gap: 16px;
    /* max-width: 1120px; */
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.breadcrumbs {
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    font-size: 10px;
}


.preview {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #ffffff;
    border: 1px solid rgba(154, 168, 188, 0.2);
    border-radius: 16px;
}

.value-set {
    display: flex;
    /* border: 1px solid gray; */
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.value-set_vertical {
    flex-direction: column;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

.value-set .value {
    flex-direction: row;
    align-items: stretch;
    border: none;
    border-right: 1px solid gray;
    border-radius: 0px;
}

.value-set_vertical .value {
    border-bottom: 1px solid gray;
    border-right: none;
}

.value-set .value:last-child {
    border-right: none;
}

.value-set_vertical .value:last-child {
    border-bottom: none;
}

.edged-value-set {
    border-radius: 5px;
    border: 1px solid gray;
    overflow: hidden;
}

.edged-value-set .value-set {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.edged-value-set .value-set:last-child {
    border-bottom: none;
}

.edged-value-set .value {
    flex-grow: 1;
}

.value__text {
    padding: 2px 5px;
    font-size: 10px;
}

.value-set_vertical .value__text {
    border-right: 1px solid gray;
    width: 50%;
}

.value__input {
    min-width: 100%;
    border: none;
    border-top: 1px solid gray;
    font-size: 10px;
    padding: 3px 5px;
    margin: 0px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}

.value-set_vertical .value__input {
    min-width: 50%;
    border-top: none;
}

.composition {
    margin-top: 20px;
}

/* fertilizers details */

.fertilizers-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

/* fertilizers source */

.fertilizers-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    /* border-bottom: 1px solid gray; */
    box-sizing: border-box;
}

/* fertilizers preview */

.fertilizers-preview {
    padding: 16px;
    box-sizing: border-box;
}

.fertilizers-preview__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 8px;
}

.fertilizers-preview__title {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 15px;
}

.fertilizers-preview__text {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 10px;
}


/* nitrogen */

/* nutrient value */

.nutrient-value {
    display: flex;
}

.nutrient-value__symbol {
    padding: 4px 4px;
    margin: 0px;
    /* border-right: 1px solid rgba(154, 168, 188, 1); */
    box-sizing: border-box;
    flex-basis: 45%;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid rgba(225, 228, 234, 1);
}

.nutrient-value__value {
    display: flex;
    align-items: center;
    margin: 0px;
    border-radius: 4px;
    flex-grow: 1;
    flex-basis: 55%;
    background-color: #ffffff;
    border: none;
    padding: 0px 4px;
    font-size: inherit;
    box-sizing: border-box;
}

.nutrient-value__nutrient {
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    border-radius: 8px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

.nutrient-value__nutrient_green {
    border: 1px solid rgba(31, 193, 107, 1);
}

.nutrient-value__nutrient_yellow {
    border: 1px solid rgba(246, 181, 30, 1);
}

.nutrient-value__nutrient_red {
    border: 1px solid rgba(251, 55, 72, 1);
}

.nutrient-value__nutrient .nutrient-value {
    border-bottom: 1px solid rgba(225, 228, 234, 1);
}

.nutrient-value__nutrient .nutrient-value:last-child {
    border-bottom: none;
}
