.solutions-listing-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.solutions-listing-page__controls {
    display: flex;
    justify-content: flex-end;
}

.solutions-listing-page__listing {
    max-width: 660px;
    width: 100%;
}

.solutions-listing__name {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
}


/* solution composition nutrient */

.solution-composition-union {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
    flex-basis: calc(100% / 6);
}

.solution-composition-nutrient {
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    border-radius: 8px;
    font-size: 12px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
    cursor: pointer;
}

.solution-composition-nutrient_green {
    border: 1px solid rgba(31, 193, 107, 1);
}

.solution-composition-nutrient_yellow {
    border: 1px solid rgba(246, 181, 30, 1);
}

.solution-composition-nutrient_red {
    border: 1px solid rgba(251, 55, 72, 1);
}