.solutions-listing-table {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: calc(calc(38px * 10) - 2px);    
}

.solutions-listing-stub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(calc(38px * 10) - 2px);    
}

.solutions-listing-item {
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background: var(--bg-weak-50, rgba(245, 247, 250, 1));
    border-radius: 8px;
}

/* solution composition nutrient */

.solution-composition-nutrient {
    position: relative;
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    max-width: 98px;
    cursor: pointer;
}
