/*
    icon
*/

.icon {
    width: 20px;
    height: 20px;
    fill: #99A0AE;
}

/*
    tag
*/

.tag {
    display: flex;
    gap: 4px;
    padding: 4px;
    background-color: rgba(92, 23, 229, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

.tag__text {
    padding-right: 4px;
    font-size: 8px;
    line-height: 7px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.tag__text:last-child {
    padding-right: 0px;
    border-right: none;
}

/* radio card */

.radio-card {
    display: flex;
    padding: 16px;
    gap: 14px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border: 1px solid var(--stroke-soft-200, rgba(225, 228, 234, 1));
    border-radius: 12px;
    box-sizing: border-box;
}

.radio-card__text {
    flex-grow: 1;
}

.radio-card__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
    color: rgba(14, 18, 27, 1);
}

.radio-card__subtitle {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(82, 88, 102, 1);
}

.radio-card__input {}

.radio-card__alias {}


/*
    text field
*/

.text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
}

.text-field__input {
    flex-grow: 1;
    border: 1px solid  rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    transition: .2s ease-out;
    box-sizing: border-box;
}

.text-field__input:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.text-field__input:hover {
    background-color: rgba(245, 247, 250, 1);
}

/*
    divider
*/

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(225, 228, 234, 1);
}

/*
    title
*/

.title {
    color: rgba(14, 18, 27, 1);
    margin: 0px;
}

.title_size-x-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    font-weight: 500;
}

.title_size-small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    font-weight: 500;
}

.title_size-medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
    font-weight: 500;
}

.title_size-large {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.5%;
    font-weight: 500;
}

.title_size-x-large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5%;
    font-weight: 500;
}

/*
    card
*/

.card {
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

/*
    block
*/

.block {
    padding: 16px;
    box-sizing: border-box;
}

.block_exclude-top {
    padding-top: 0px;
}

.block_exclude-bottom {
    padding-bottom: 0px;
}

.block_exclude-right {
    padding-right: 0px;
}

.block_exclude-left {
    padding-left: 0px;
}

.block_exclude-vertical {
    padding-top: 0px;
    padding-bottom: 0px;
}

.block_exclude-horizontal {
    padding-left: 0px;
    padding-right: 0px;
}

/*
    button
*/

.button {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    border: none;
    transition: .2s ease-out;
    cursor: pointer;
    box-sizing: border-box;
}

.button:focus {
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;   
}

.button_primary {
    background-color: rgba(92, 23, 229, 1);
    color: #ffffff;    
}

.button_primary:hover {
    background-color: rgba(54, 0, 144, 1);
}

.button_stroke {
    border: 1px solid rgba(92, 23, 229, 1);
    background-color: transparent;
    color: rgba(92, 23, 229, 1);
}

.button_stroke:hover {
    background: rgba(245, 247, 250, 1);
    border: 1px solid rgba(245, 247, 250, 1);
}

.button_compact {
    display: block;
    padding: 1px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.button_compact:hover {
    background-color: rgba(245, 247, 250, 1);
}

.button_compact .icon {
    width: 18px;
    height: 18px;
    fill: rgba(82, 88, 102, 1);
}

/*
    search
*/

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

.search__input {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

.search__input::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: rgba(153, 160, 174, 1);
}

/*
    table
*/

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__header {
    background-color: rgba(245, 247, 250, 1);
    border-radius: 8px;
}

.table__cell {
    padding: 8px 12px;
    color: rgba(14, 18, 27, 1);
    box-sizing: border-box;
}

.table__header .table__cell {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(82, 88, 102, 1);
}

.table__row {
    border-bottom: 1px solid rgba(225, 228, 234, 1);
    transition: .2s ease-out;
}

.table__row_clickable {
    cursor: pointer;
}

.table__row:first-child {
    border-top: 1px solid rgba(225, 228, 234, 1);
}

/*
.table__row:hover {
    background-color: rgba(245, 247, 250, 1);
}
*/

/*
    step
*/

.step {
    display: flex;
    align-items: center;
    gap: 12px;
}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgba(92, 23, 229, 1);
    color: #ffffff;
    border-radius: 50%;
}

.step__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

/*
    accordion
*/

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
}

.accordion__body {
    display: none;
    height: 0px;
    padding: 0px;
}
    
.accordion__body_opened {
    display: block;
    height: auto;
    padding: 0px 16px 16px 16px;
}

/*
    dropdown
*/

.dropdown {
    position: relative;
}

.dropdown:focus-within .dropdown__list {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.dropdown__space {
    height: 8px;
}

.dropdown__list {
    position: absolute;
    display: none;
    right: 0;
}

.dropdown__options {
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
}

/*
.dropdown:hover .dropdown__list {
    display: flex;
    flex-direction: column;
    z-index: 100;
}
*/

.dropdown__item {
    position: relative;
}

.dropdown__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 6px;
    text-align: start;
    font-size: 12px;
    line-height: 16px;
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown__button:hover {
    background-color:rgba(245, 247, 250, 1);
}

/*
    select
*/

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.select__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.select__search {
    position: relative;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.select__header {
    position: relative;
    display: block;
}

.select__controls {
    position: absolute;
    display: flex;
    gap: 8px;
    top: calc(50% - 10px);
    right: 8px;
}

.select__arrow {
    display: flex;
}

.select__cancel {
    display: flex;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.select__value {
    color: rgba(14, 18, 27, 1);
    width: 100%;
    text-align: start;
    outline: none;
    background-color:  rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

.select__icon {
    position: absolute;
    top: calc(50% - 10px);
    left: 8px;
}

.select__input {
    width: 100%;
    background-color:  rgba(255, 255, 255, 1);
    outline: none;
    padding: 8px 8px 8px 36px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid rgba(225, 228, 234, 1);
    border-radius: 8px;
    box-sizing: border-box;
}

.select__input:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.select__input::placeholder {
    color: rgba(153, 160, 174, 1);
}

.select__placeholder {
    display: block;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    background-color:  rgba(255, 255, 255, 1);
    color: rgba(153, 160, 174, 1);
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.select__list {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
}

.select__list_opened {
    display: flex;
    margin-top: 8px;
    z-index: 100;
    top: 100%;
}

.select__item {
    position: relative;
}

.select__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 8px;
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.select__button:hover {
    background-color:rgba(245, 247, 250, 1);
}

.select__item_selected .select__button {
    background-color:rgba(245, 247, 250, 1);
}

.select__check {
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
}

.select__check .icon {
    fill: rgba(82, 88, 102, 1);
}

/* number field */

.number-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.number-field__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.number-field__value {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.number-field__input {
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    max-width: 76px;
}

/* text */

.text {
    margin: 0px;
    font-weight: 400;
}

.text_nowrap-true {
    white-space: nowrap;
}

.text_bold-true {
    font-weight: 500;
}

.text_x-large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5%;
}

.text_large {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.5%;
}

.text_medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
}

.text_small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
}

.text_x-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

.text_xx-small {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
}

/* checkbox */

.checkbox__input {
    margin: 0px;
}

/* tabs */

.tabs {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid rgba(225, 228, 234, 1);
    box-sizing: border-box;
}

.tabs__tab {
    padding: 14px 0px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    color: rgba(82, 88, 102, 1);
    font-weight: 400;
    cursor: pointer;
}

.tabs__tab_active {
    position: relative;
    color: rgba(14, 18, 27, 1);
}

.tabs__tab_active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(92, 23, 229, 1);
    bottom: -1px;
    left: 0px;
}

/* tooltip */

.tooltip {
    position: relative;
}

.tooltip__target {}

.tooltip__body {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(14, 18, 27, 0.03), 0px 12px 24px 0px rgba(14, 18, 27, 0.06);
    border-radius: 4px;
    color: rgba(14, 18, 27, 1);
    transition-delay: .2s;
    transition: .1s ease-out;
    z-index: 101;
}

.tooltip_top-left .tooltip__body {
    left: 0px;
    bottom: calc(100% + 5px);
}

.tooltip_top-center .tooltip__body {
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
}

.tooltip_top-right .tooltip__body {
    right: 0px;
    bottom: calc(100% + 5px);
}

.tooltip_bottom-center .tooltip__body {
    left: 50%;
    bottom: -100%;
    transform: translate(-50%, 50%);
}

.tooltip__body::before,
.tooltip__body::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  margin-left: -5px;
}

.tooltip__body::before {
  border-top: 5px solid rgba(225, 228, 234, 1);
  z-index: 100;
}

.tooltip__body::after {
  border-top: 5px solid #ffffff;
  margin-top: -1px;
  z-index: 101;
}

.tooltip_top-left .tooltip__body::after, .tooltip_top-left .tooltip__body::before {
    left: 12px;
}

.tooltip_top-center .tooltip__body::after, .tooltip_top-center .tooltip__body::before {
    left: 50%;
}

.tooltip_top-right .tooltip__body::after, .tooltip_top-right .tooltip__body::before {
    right: 12px;
}

.tooltip:hover .tooltip__body {
    opacity: 1;
    visibility: visible;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination__cell {
    display: block;
    border-radius: 8px;
    background-color: var(--bg-white-0, rgba(255, 255, 255, 1));
    width: 34px;
    height: 34px;
    padding: 6px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: .1s ease-out;
    cursor: pointer;
    border: 1px solid var(--stroke-soft-200, rgba(225, 228, 234, 1));
    color: rgba(82, 88, 102, 1);
}

.pagination__cell_active {
    color: rgba(14, 18, 27, 1);
    border: 1px solid rgba(92, 23, 229, 1);
}

.pagination__cell_disabled {
    color: rgba(202, 207, 216, 1);
    cursor: default;
}

.pagination__cell_disabled .icon {
    fill: rgba(202, 207, 216, 1);
}

.pagination__cell_default:hover {
    background-color: var(--stroke-soft-200, rgba(225, 228, 234, 1));
}
