/*
    icon
*/

.icon {
    width: 20px;
    height: 20px;
    fill: #99A0AE;
}

/*
    badge
*/

.badge {
    padding: 2px 4px;
    font-size: 10px;
    line-height: 14px;
    background-color: rgba(92, 23, 229, 1);
    border-radius: 4px;
    color: #ffffff;
    box-sizing: border-box;
}

/* radio card */

.radio-card {
    display: flex;
    padding: 16px;
    gap: 14px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border: 1px solid var(--stroke-soft-200, rgba(225, 228, 234, 1));
    border-radius: 12px;
    box-sizing: border-box;
}

.radio-card__text {
    flex-grow: 1;
}

.radio-card__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
    color: rgba(14, 18, 27, 1);
}

.radio-card__subtitle {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(82, 88, 102, 1);
}

.radio-card__input {}

.radio-card__alias {}


/*
    text field
*/

.text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
}

.text-field__input {
    flex-grow: 1;
    border: 1px solid  rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    transition: .2s;
    box-sizing: border-box;
}

.text-field__input:hover {
    background-color: rgba(245, 247, 250, 1);
    border: 1px solid rgba(245, 247, 250, 1);
}

/*
    divider
*/

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(225, 228, 234, 1);
}

/*
    title
*/

.title {
    color: rgba(26, 33, 43, 1);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

/*
    card
*/

.card {
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    overflow: hidden;
    box-sizing: border-box;
}

/*
    block
*/

.block {
    padding: 16px;
    box-sizing: border-box;
}

/*
    button
*/

.button {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

.button_primary {
    background-color: rgba(92, 23, 229, 1);
    color: #ffffff;
}

.button_stroke {
    border: 1px solid rgba(92, 23, 229, 1);
    background-color: transparent;
    color: rgba(92, 23, 229, 1);
}

/*
    search
*/

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

.search__input {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

.search__input::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: rgba(153, 160, 174, 1);
}

/*
    table
*/

.table {
    padding: 0px 0px 16px 0px;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.table__header {
    background-color: rgba(245, 247, 250, 1);
    border-radius: 8px;
}

.table__cell {
    padding: 8px 12px;
    color: rgba(14, 18, 27, 1);
    box-sizing: border-box;
}

.table__header .table__cell {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(82, 88, 102, 1);
}

.table__row {
    border-bottom: 1px solid rgba(225, 228, 234, 1);
    box-sizing: border-box;
}

/*
    step
*/

.step {
    display: flex;
    align-items: center;
    gap: 12px;
}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgba(92, 23, 229, 1);
    color: #ffffff;
    border-radius: 50%;
}

.step__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

/*
    accordion
*/

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
}

.accordion__body {
    display: none;
    height: 0px;
    padding: 0px;
}
    
.accordion__body_opened {
    display: block;
    height: auto;
    padding: 0px 16px 16px 16px;
}

/*
    dropdown
*/

.dropdown {
    position: relative;
}

.dropdown__search {
    position: relative;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.dropdown__header {
    position: relative;
}

.dropdown__controls {
    position: absolute;
    display: flex;
    gap: 8px;
    top: calc(50% - 10px);
    right: 8px;
}

.dropdown__arrow {
    display: flex;
}

.dropdown__cancel {
    display: flex;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.dropdown__value {
    color: rgba(14, 18, 27, 1);
    width: 100%;
    text-align: start;
    outline: none;
    background-color:  rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    box-sizing: border-box;
}

.dropdown__icon {
    position: absolute;
    top: calc(50% - 10px);
    left: 8px;
}

.dropdown__input {
    width: 100%;
    background-color:  rgba(255, 255, 255, 1);
    outline: none;
    padding: 8px 8px 8px 36px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid rgba(225, 228, 234, 1);
    border-radius: 8px;
    box-sizing: border-box;
}

.dropdown__input:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.dropdown__input::placeholder {
    color: rgba(153, 160, 174, 1);
}

.dropdown__placeholder {
    display: block;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    background-color:  rgba(255, 255, 255, 1);
    color: rgba(153, 160, 174, 1);
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown__list {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
}

.dropdown__list_opened {
    display: flex;
    margin-top: 8px;
}

.dropdown__item {
    position: relative;
}

.dropdown__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 8px;
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown__button:hover {
    background-color:rgba(245, 247, 250, 1);
}

.dropdown__item_selected .dropdown__button {
    background-color:rgba(245, 247, 250, 1);
}

.dropdown__check {
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
}

.dropdown__check .icon {
    fill: rgba(82, 88, 102, 1);
}