.badge {
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
    z-index: 11;
}

button .badge {
    position: absolute;
    right: 5%;
}

.badge_state-default {
    background-color: rgba(92, 23, 229, 1);
}

.badge_state-error {
    background-color: rgba(251, 55, 72, 1);
}

.badge_state-success {
    background-color: rgba(31, 193, 107, 1);
}

.badge_state-warn {
    background-color: rgba(246, 181, 30, 1);
}

.badge_size-small {
    font-size: 10px;
    line-height: 10px;
    min-width: 10px;
    padding: 1px;
}

button .badge_size-small {
    top: -7px;
}

.badge_size-medium {
    font-size: 10px;
    line-height: 10px;
    min-width: 10px;
    padding: 2px;
    top: -7px;
}