.block {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
}

.block_exclude-top {
    padding-top: 0px;
}

.block_exclude-bottom {
    padding-bottom: 0px;
}

.block_exclude-right {
    padding-right: 0px;
}

.block_exclude-left {
    padding-left: 0px;
}

.block_exclude-vertical {
    padding-top: 0px;
    padding-bottom: 0px;
}

.block_exclude-horizontal {
    padding-left: 0px;
    padding-right: 0px;
}
