.dropdown {
    position: relative;
}

.dropdown:focus-within .dropdown__list {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.dropdown__space {
    height: 8px;
}

.dropdown__list {
    position: absolute;
    display: none;
    right: 0;
}

.dropdown__options {
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
}

/*
.dropdown:hover .dropdown__list {
    display: flex;
    flex-direction: column;
    z-index: 100;
}
*/

.dropdown__item {
    position: relative;
}

.dropdown__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 6px;
    text-align: start;
    font-size: 12px;
    line-height: 16px;
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}

.dropdown__button:hover {
    background-color:rgba(245, 247, 250, 1);
}
