.quick-action {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-out;
    border-radius: 8px;
    box-sizing: border-box;
}

.quick-action_size-small {
    padding: 6px;
    gap: 6px;
}

.quick-action_size-medium {
    padding: 8px;
    gap: 8px;
}

.quick-action_size-big {
    padding: 10px;
    gap: 10px;
}

.quick-action_state-error {
    background-color: var(--state-error-lighter, rgba(255, 235, 236, 1));
}

.quick-action_state-error:hover {
    background-color: var(--state-error-light, rgba(255, 192, 197, 1));
}

.quick-action_state-warn {
    background-color: var(--state-warning-lighter, rgba(255, 241, 235, 1));
}

.quick-action_state-warn:hover {
    background-color: var(--state-warning-light, rgba(255, 213, 192, 1));
}

.quick-action_state-success {
    background-color: var(--state-success-lighter, rgba(224, 250, 236, 1));
}

.quick-action_state-success:hover {
    background-color: var(--state-success-light, rgba(194, 245, 218, 1));
}

.quick-action_state-default {
    background-color: var(--bg-weak-50, rgba(245, 247, 250, 1));
}

.quick-action_state-default:hover {
    background-color: var(--bg-soft-200, rgba(225, 228, 234, 1));
}

.quick-action__text {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.quick-action__left-action,
.quick-action__right-action {
    position: relative;
}