.select {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.select__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.select__search {
    position: relative;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.select__header {
    position: relative;
    display: block;
}

.select__controls {
    position: absolute;
    display: flex;
    gap: 8px;
    top: calc(50% - 10px);
    right: 8px;
}

.select__arrow {
    display: flex;
}

.select__cancel {
    display: flex;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.select__value {
    color: rgba(14, 18, 27, 1);
    width: 100%;
    text-align: start;
    outline: none;
    background-color:  rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    transition: .1s ease-out;
    box-sizing: border-box;
}

.select__value:hover {
    background-color: rgba(245, 247, 250, 1);
}

.select__value:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.select_size-small .select__value {
    padding: 6px 32px 6px 6px;
    max-height: 34px;
}

.select_size-medium .select__value {
    padding: 8px 36px 8px 8px;
    max-height: 38px;
}

.select_size-big .select__value {
    padding: 10px 40px 10px 10px;
    max-height: 42px;
}

.select__icon {
    position: absolute;
    top: calc(50% - 10px);
    left: 8px;
}

.select__input {
    width: 100%;
    background-color:  rgba(255, 255, 255, 1);
    outline: none;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border-radius: 8px;
    transition: .1s ease-out;
    box-sizing: border-box;
}

.select__input:hover {
    background-color: rgba(245, 247, 250, 1);
}

.select__input:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.select__input::placeholder {
    color: rgba(153, 160, 174, 1);
}

.select__input:hover .select__input::placeholder {
    color: rgba(82, 88, 102, 1);
}

.select_size-small .select__input {
    padding: 6px;
    max-height: 34px;
    padding-left: 32px;
}

.select_size-medium .select__input {
    padding: 8px;
    max-height: 38px;
    padding-left: 36px;
}

.select_size-big .select__input {
    padding: 10px;
    max-height: 42px;
    padding-left: 40px;
}

.select__placeholder {
    display: block;
    width: 100%;
    text-align: start;
    background-color:  rgba(255, 255, 255, 1);
    color: rgba(153, 160, 174, 1);
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    transition: .1s ease-out;
    cursor: pointer;
    box-sizing: border-box;
}

.select__placeholder:hover {
    background-color: rgba(245, 247, 250, 1);
    color: rgba(82, 88, 102, 1);   
}

.select__placeholder:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.select_size-small .select__placeholder {
    padding: 6px 32px 6px 6px;
    max-height: 34px;
}

.select_size-medium .select__placeholder {
    padding: 8px 36px 8px 8px;
    max-height: 38px;
}

.select_size-big .select__placeholder {
    padding: 10px 40px 10px 10px;
    max-height: 42px;
}

.select__list {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 4px;
    min-width: 100%;
    padding: 8px;
    border: 1px solid rgba(225, 228, 234, 1);
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    transition: margin .1s ease-out;
    box-shadow: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
}

.select__list_opened,
.select:focus-within ~ .select__list {
    visibility: visible;
    opacity: 1;
    margin-top: 4px;
    z-index: 100;
    top: 100%;
    right: 0px;
}

.select__item {
    position: relative;
}

.select__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 8px;
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.select__button:hover {
    background-color:rgba(245, 247, 250, 1);
}

.select__item_selected .select__button {
    background-color:rgba(245, 247, 250, 1);
}

.select__check {
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
}

.select__check .icon {
    fill: rgba(82, 88, 102, 1);
}
