.tag {
    display: flex;
    gap: 4px;
    padding: 4px;
    background-color: rgba(92, 23, 229, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

.tag__text {
    padding-right: 4px;
    font-size: 8px;
    line-height: 7px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.tag__text:last-child {
    padding-right: 0px;
    border-right: none;
}
