.text {
    margin: 0px;
    font-weight: 400;
}

.text_nowrap-true {
    white-space: nowrap;
}

.text_bold-true {
    font-weight: 500;
}

.text_x-large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5%;
}

.text_large {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.5%;
}

.text_medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
}

.text_small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
}

.text_x-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

.text_xx-small {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
}
