.text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    flex-grow: 1;
}

.text-field__value {
    position: relative;
}

.text-field__input {
    width: 100%;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    color: rgba(14, 18, 27, 1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    font-weight: 400;
    transition: .1s ease-out;
    box-sizing: border-box;
}

.text-field__input::placeholder {
    color: rgba(153, 160, 174, 1);
}

.text-field__value:hover .text-field__input::placeholder {
    color: rgba(82, 88, 102, 1);
}

.text-field__input:focus {
    border: 1px solid rgba(14, 18, 27, 1);
    outline: 2px solid rgba(153, 160, 174, 0.16);
    outline-offset: 2px;
}

.text-field__input:hover {
    background-color: rgba(245, 247, 250, 1);
}

.text-field_error-true .text-field__input {
    border: 1px solid rgba(251, 55, 72, 1);
}

.text-field_error-true .text-field__input:focus {
    outline: 2px solid rgba(251, 55, 72, 0.1);
}

.text-field_size-small .text-field__input {
    padding: 6px;
    max-height: 34px;
}

.text-field_size-small .text-field__input_left-icon {
    padding-left: 34px;
}

.text-field_size-medium .text-field__input {
    padding: 8px;
    max-height: 38px;
}

.text-field_size-medium .text-field__input_left-icon {
    padding-left: 38px;
}

.text-field_size-big .text-field__input {
    padding: 10px;
    max-height: 42px;
}

.text-field_size-big .text-field__input_left-icon {
    padding-left: 42px;
}

.text-field__icon {
    position: absolute;
}

.text-field__icon .icon {
    display: block;
}

.text-field__value:hover .icon {
    fill: rgba(82, 88, 102, 1);
}

.text-field__value_filled .icon {
    fill: rgba(14, 18, 27, 1);
}

.text-field__icon_left {
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.text-field__error {
    font-size: 12px;
    line-height: 16px;
    color: rgba(251, 55, 72, 1);
}

