.title {
    position: relative;
    color: rgba(14, 18, 27, 1);
    margin: 0px;
}

.title_size-x-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    font-weight: 500;
}

.title_size-small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    font-weight: 500;
}

.title_size-medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
    font-weight: 500;
}

.title_size-large {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.5%;
    font-weight: 500;
}

.title_size-x-large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5%;
    font-weight: 500;
}
