.tooltip {
    position: relative;
}

.tooltip__body {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(225, 228, 234, 1);
    box-shadow: 0px 1px 2px 0px rgba(14, 18, 27, 0.03), 0px 12px 24px 0px rgba(14, 18, 27, 0.06);
    border-radius: 4px;
    color: rgba(14, 18, 27, 1);
    z-index: 101;
    max-width: 250px;
    min-width: 200px;
    z-index: 999;
    transition: .1s ease-out;
}

.tooltip:hover .tooltip__body {
    opacity: 1;
    visibility: visible;
}


/* tooltip top */
.tooltip_top-left .tooltip__body {
    left: 0px;
    bottom: calc(100% + 5px);
    transform: translate(0%, 4px);
}

.tooltip_top-center .tooltip__body {
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translate(-50%, 4px);
}

.tooltip_top-right .tooltip__body {
    right: 0px;
    bottom: calc(100% + 5px);
    transform: translate(0%, 4px);
}

.tooltip_top-left:hover .tooltip__body {
    transform: translate(0%, 0px);
}

.tooltip_top-center:hover .tooltip__body {
    transform: translate(-50%, 0px);
}

.tooltip_top-right:hover .tooltip__body {
    transform: translate(0%, 0px);
}

.tooltip_top-left .tooltip__body::after,
.tooltip_top-center .tooltip__body::after,
.tooltip_top-right .tooltip__body::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: -6px;
    left: 0px;
}

/* tooltip bottom */
.tooltip_bottom-left .tooltip__body {
    right: 0px;
    bottom: -5px;
    transform: translate(0%, calc(100% - 5px));
}

.tooltip_bottom-center .tooltip__body {
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, calc(100% - 5px));
}

.tooltip_bottom-right .tooltip__body {
    left: 0px;
    bottom: -5px;
    transform: translate(0%, calc(100% - 5px));
}

.tooltip_bottom-left:hover .tooltip__body {
    transform: translate(0%, 100%);
}

.tooltip_bottom-center:hover .tooltip__body {
    transform: translate(-50%, 100%);
}

.tooltip_bottom-right:hover .tooltip__body {
    transform: translate(0%, 100%);
}

.tooltip_bottom-left .tooltip__body::after,
.tooltip_bottom-center .tooltip__body::after,
.tooltip_bottom-right .tooltip__body::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    top: -6px;
    left: 0px;
}



/*
.tooltip__body::before,
.tooltip__body::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  margin-left: -5px;
}

.tooltip__body::before {
  border-top: 5px solid rgba(225, 228, 234, 1);
  z-index: 100;
}

.tooltip__body::after {
  border-top: 5px solid #ffffff;
  margin-top: -1px;
  z-index: 101;
}

.tooltip_top-left .tooltip__body::after, .tooltip_top-left .tooltip__body::before {
    left: 12px;
}

.tooltip_top-center .tooltip__body::after, .tooltip_top-center .tooltip__body::before {
    left: 50%;
}

.tooltip_top-right .tooltip__body::after, .tooltip_top-right .tooltip__body::before {
    right: 12px;
}
*/
