.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column_gap-x-large {
    gap: 24px;
}

.column_gap-large {
    gap: 16px;
}

.column_gap-medium {
    gap: 12px;
}

.column_gap-small {
    gap: 8px;
}

.column_gap-x-small {
    gap: 4px;
}

.column_gap-xx-small {
    gap: 2px;
}

.column_gap-none {
    gap: 0px;
}

.column_horizontal-start {
    align-items: flex-start;
}

.column_horizontal-center {
    align-items: center;
}

.column_horizontal-end {
    align-items: flex-end;
}

.column_horizontal-stretch {
    align-items: stretch;
}

.column_vertical-start {
    justify-content: flex-start;
}

.column_vertical-center {
    justify-content: center;
}

.column_vertical-end {
    justify-content: flex-end;
}