.row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.row_gap-x-large {
    gap: 24px;
}

.row_gap-large {
    gap: 16px;
}

.row_gap-medium {
    gap: 12px;
}

.row_gap-small {
    gap: 8px;
}

.row_gap-x-small {
    gap: 4px;
}

.row_gap-xx-small {
    gap: 2px;
}

.row_gap-none {
    gap: 0px;
}

.row_horizontal-start {
    justify-content: flex-start;
}

.row_horizontal-center {
    justify-content: center;
}

.row_horizontal-end {
    justify-content: flex-end;
}

.row_horizontal-space-between {
    justify-content: space-between;
}

.row_vertical-start {
    align-items: flex-start;
}

.row_vertical-center {
    align-items: center;
}

.row_vertical-end {
    align-items: flex-end;
}

.row_vertical-stretch {
    align-items: stretch;
}

.row_wrap-true {
    flex-wrap: wrap;
}
